<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<title>Personal</title>
		<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
		{% block estilo %}
		{% endblock estilo %}		
	</head>

	<body>
		<header >
			{% include 'menu.html' %}
		</header>
		
		<section class="contenedor">
		
			{% include 'experiencia.html' %}
			
			{% include 'estudios.html' %}
			
			{% include 'proyectos.html' %}
			
			
			
							
		</section>
		
	</body>
</html>

	