
body 
{
	background: rgb( 229, 237, 226);
	font-family: andalus;	
}

header
{
	background: #397AA0;
	height: 5em;
}

/* cambiamos el color de la barra de navegacion */
.navbar
{
	background: #397AA0;
	border: none;	
}

/* le damos formato a los textos del menu */
.navbar-inverse .navbar-nav > li > a {  	
  	color: #0C1A25;
  	font-size : 1.5em;
  	font-weight: bold;
}

.borderMenu
{
	border-right : 3px #FC8123 solid;
}

/* los 2 bloques que siguen son para centrar el menu */
.navbar .navbar-nav 
{
  display: inline-block;
  float: none;
  margin-top: 0.6em;
}

.navbar .navbar-collapse 
{
  text-align: center;
}


/* estilos para los section de cada modulo */



/* estilos para experiencia */

#ctnExperiencia h1
{
	color : #0C1A25;
	font-family: andalus;
	font-size : 6em;	
	margin-top : 0.8em;	
	text-align: center;	
}



article img
{	
	height: 100%;
	width:  100%;
}

article h3
{	
	font-family: andalus;	
	margin: 0px;
}

article h3
{	
	font-family: andalus;	
}

hr
{  
  background-color: #105F42;
  height: 2px;  
  margin : 10px 0 0 0;
  width: 100%;
}

/* clase para posicionar la imagen con el figure */

.logoPer
{
	padding: 0px;	
}



.divSeparador
{	
	box-shadow: rgba(0,0,0,1) 0 0 1em;	
	margin : 1em 0;	
	padding: 1em;
	position: relative;
}

.infoOver
{
	background: rgba(0, 0, 0, 0.5);	
	color: #FFF;
	display: none;
	height : 86%;	
	width : 96%;
	padding: 10px;
	position: absolute;

}

.divSeparador:hover .infoOver 
{
	display: block;	
}