
body 
{
	background: rgb( 229, 237, 226);
	font-family: andalus;	
}

header
{
	background: #397AA0;
	height: 5em;
}

/* cambiamos el color de la barra de navegacion */
.navbar
{
	background: #397AA0;
	border: none;	
}

/* le damos formato a los textos del menu */
.navbar-inverse .navbar-nav > li > a {  	
  	color: #0C1A25;
  	font-size : 1.5em;
  	font-weight: bold;
}

.borderMenu
{
	border-right : 3px #FC8123 solid;
}

/* los 2 bloques que siguen son para centrar el menu */
.navbar .navbar-nav 
{
  display: inline-block;
  float: none;
  margin-top: 0.6em;
}

.navbar .navbar-collapse 
{
  text-align: center;
}


/* estilos para los section de cada modulo */


.stlInterModulo
{
	background: #FC8123;
}



/* estilos para experiencia */

#ctnExperiencia h1
{
	color : #0C1A25;
	font-size : 6em;	
	text-align: center;	
}



article img
{
	border-bottom-left-radius : 10%;
	border-top-right-radius : 10%;	
	height: 100%;
	width:  100%;
}


/* clase para posicionar la imagen con el figure */

.logoPer
{
	padding: 0px;
}



.divSeparador
{
	border: 2px black solid;
	margin : 1em 0;	
}